<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Page</title>
</head>
<body>
            <h2>{{ object.headline }}</h2>
            <p>{{ object.content }}</p>
            <p>Roll: {{ object.shop_name }}</p>
            <p>Address: {{ object.shop_address }}</p>
            <p>Details: {{ object.product_detail }}</p>
            <p>Quantity: {{ object.product_quantity }}</p>
            <p>Bill: {{ object.total_bill }}</p>
            <p>Payment: {{ object.payment_mode }}</p>
</body>
</html>